* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-image: url("./img/wheater_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center center;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 70px;
    background-color: rgba(195, 195, 195, 0.237);
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1em;
    padding: 10px 20px 10px 20px;
    width: 100%;
    list-style: none;
    align-items: center;
}

nav div {
    display: flex;
    justify-content: flex-end;
}

main {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* From uiverse.io by @Tiagoadag */
.card {
    display: grid;
    background-color: rgba(0, 0, 0, 0.67);
    grid-template-rows: 4;
    color: white;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    gap: 20px;
    min-width: 50%;
}

.card>:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(177px, 1fr));
    gap: 10px;
    align-items: center;
}

.wheater_visual_section {
    display: flex;
    justify-content: flex-end;
}

.wheater_visual_section div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wheater_information_section {
    display: flex;
    flex-direction: column;
}

.wheater_information_section div{
    display: flex;
}

.wheater_information_section div  h3{
    font-size: 2rem;
}

.wheater_information_section div h3::after{
    content: '|';
    font-size: 1em;
}

.secondary_wheater_information_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    overflow: auto;
}

@media (hover:hover) {

    .secondary_wheater_information_section {
        height: 50px;
        overflow: hidden;
    }

    .secondary_wheater_information_section> h2, .secondary_wheater_information_section> table{
        transform: translateY(3.5rem);
        transition: all 500ms ease;
        -webkit-transform: translateY(3.5rem);
        -moz-transform: translateY(3.5rem);
        -ms-transform: translateY(3.5rem);
        -o-transform: translateY(3.5rem);
}

    .secondary_wheater_information_section:hover> h2, .secondary_wheater_information_section:hover> table, .secondary_wheater_information_section:hover{
        height: auto;
        transform: translateY(0);
    }

    .secondary_wheater_information_section>h2::before {
        content: ">>>";
    }

    .secondary_wheater_information_section>h2::after {
        content: "<<<";
    }
}

@media only screen and (max-width: 415px) {
    nav h1, nav div{
        margin: auto;
    }
    .card {
        width: 208px;
    }
}

@media screen and (max-width: 807px) {
    .wheater_visual_section, .wheater_information_section{
        display: flex;
        text-align: center;
        justify-content: center;
        /* border: solid 10px red; */
    }
    .wheater_information_section p {
        display: block;
        justify-content: center;
        text-align: start;
        /* border: solid 10px red; */
    }
}